.search_course
	#content
		.main-content
			padding: 35px 0 50px
			background: #eeeeee
			box-shadow: inset 0 5px 5px #dadada
	.block_sidebar
		.title
			text-align: center
			color: white
			background: $color_default
			height: 45px
			line-height: 45px
			font-size: 13px
			text-transform: uppercase
			font-weight: bold
			margin: 0
		.fillter_list
			background: white
			padding: 10px 20px
		label.neo_select
			display: block
			padding: 10px 0
			margin: 0
	.fillter_course
		padding: 10px 0 20px
		.nav-tabs
			border: none
			margin-bottom: 20px
			.nav-link
				display: block
				width: 100%
				text-transform: uppercase
				color: white
				text-align: center
				padding: 0
				background: transparent
				background: #d8d8d8
				height: 45px
				line-height: 45px
				border-radius: 0
				border: none
				&.active
					background: $color_default
		.tab-content
			input, .bootstrap-select>.dropdown-toggle
				width: 100%
				height: 45px
				border: 1px solid #dadada
				padding: 0 30px
				font-size: 15px
				color: #c2c2c2
				outline: none
				box-shadow: none
			.bootstrap-select
				>.dropdown-toggle
					border-left: none
					color: $color_default
					font-weight: bold
					font-size: 16px
					background: white
					border-radius: 0
					&:after 
						content: "\f107"
						@extend .fontawesome
						border: none
						position: absolute
						font-size: 24px !important
						right: 35px
						top: 50%
						margin-top: -8px
					.bs-caret
						display: none
					&:focus
						box-shadow: none
						outline: none !important
				.dropdown-menu
					a 
						color: #c2c2c2
						display: block
						padding: 5px 20px
			.search_
				position: relative
				input 
					padding-right: 60px
				i 
					width: 60px
					height: 45px
					position: absolute
					top: 0
					right: 0
					text-align: center
					line-height: 45px
					font-size: 20px